<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
  <!-- Begin Page Content -->
  <div class="container-lg mx-auto p-4">
    <div class="card mx-auto" style="max-width: 800px">
      <div class="card-header">
      <div class="row mb-2">
        <div class="col-6" th:text="|제목 : ${article.title}|"></div>
        <div class="col-3" th:text="|작성자 : ${article.createdBy}|"></div>
        <div class="col-3" th:text="|작성일 : ${article.createdAt}|"></div>
      </div>
        <div class="border"></div>
        <div class="card-body">
          <div class="content" th:text="${article.content}" style="min-height: 500px"></div>
        </div>
      </div>
    </div>
  </div>

</th:block>
</html>