<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="col-sm-9 col-md-8 col-lg-8 mx-auto">
            <div class="card border-0 shadow rounded-4 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title mb-4">회원가입</h3>

                    <!-- request members/new -->
                    <form action="register.html" th:action method="post" th:object="${member}">
                        <div class="container-lg text-center">
                        <div class="form-group mb-3">
                            <label for="user_id" class="form-label">아이디</label>
                            <input type="text" class="form-control" placeholder="아이디" id="user_id" th:field="*{user_id}" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="user_pw" class="form-label">비밀번호</label>
                            <input type="password" class="form-control" placeholder="비밀번호" id="user_pw" th:field="*{user_pw}" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="emial" class="form-control" placeholder="Email" id="email" th:field="*{email}" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" class="form-control" placeholder="이름" id="name" th:field="*{name}" required>
                        </div>

                        <!--userGender Button-->
                        <div class="form-check form-check-inline" th:each="gender : ${genders}">
                            <input class="form-check-input" type="radio" th:field="*{gender}" th:value="${gender.name()}">
                            <label class="form-check-label" th:for="${#ids.prev('gender')}" th:text="${gender.description}"></label>
                        </div>


                        <!--Submit Button-->
                        <div class="col-md-auto mt-4 text-center">
                            <button class="btn btn-outline-success">회원가입</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</th:block>
</html>