<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<th:block th:fragment="headerFragment">
    <!--navbar section -->
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"
                               th:href="@{/members/login}" sec:authorize="isAnonymous()">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"
                               th:href="@{/members/new}" sec:authorize="isAnonymous()">회원가입</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"
                               th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto" th:action="@{/}", method="get">
                        <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</th:block>
</html>