<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<th:block th:fragment="headerFragment">
    <!--navbar section -->
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"
                               th:href="@{/members/login}" th:if="${member == null}">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"
                               th:href="@{/members/new}" th:if="${member == null}">회원가입</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"
                               th:href="@{/members/logout}" th:if="${member != null}">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</th:block>
</html>